*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../3.jfif);
	height: 80vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: blue;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: red;
	color: black;
}
ul li .active a{
	background-color: red;
	color: black;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin: auto;
}
.title h1{
	position: absolute;
	top: 40%;
	left: 0%;
	transform: translate(0,50%);
}
.title h2{
	position: absolute;
	top: 90%;
	left: 10%;
	transform: translate(0,50%);
}
.title h3{
	position: absolute;
	top: 100%;
	left: 20%;
	transform: translate(0,50%);
}
.title h4{
	position: absolute;
	top: 125%;
	left: 20%;
	transform: translate(0,50%);
}
.title h1{
	color: #8A2BE2;
	font-size: 50px;

}
.title h2{
	color: #0095B6;
	font-size: 30px;

}
.title h3{
	color: #000000;
	font-size: 20px;
}
.title h4{
	color: #FF6600;
	font-size: 20px;
.btn{
	border: 1px solid #fff;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: red;
	color: black;
}